<script src="/socket.io/socket.io.js"></script>
<script>
(function() {
	"use strict";
	var socket = io('/updates');
	var hidden = true;
	socket.on("temperatureUpdateMsg", function(data) {
		function updatePage() {
			$("#atticTemp").text(data.atticTemp.toFixed(1));
			$("#outsideTemp").text(data.outsideTemp.toFixed(1));
		}
		$(document).ready(updatePage);
	});
	socket.on("fanUpdateMsg", function(data) {
		$(document).ready(function() {
			$("#fanDisplay").text(data);
			if (hidden) {
				hidden = false;
				$("#indicators").css("visibility", "visible");
			}
		});
	});
	window.enableRawUpdates = function(callback) {
		function join() {
			// join the right chat room so we get the raw data sent to us
			socket.emit("joinRoom", "raw");
		}
		
		function onConnect() {
			// Note: this will get called upon reconnect too after connection disruption (like server restart)
			join();
		}
		
		// register to receive the raw data
		socket.on("temperatureUpdateRawMsg", callback);
		socket.on('connect', onConnect);
		
		// if already connected, we can join now
		if (socket.connected) {
			join();
		}
	};
	window.disableRawUpdates = function(callback) {
		// leave the room and stop listening
		socket.emit("leaveRoom", "raw");
		socket.off("temperatureUpdateRawMsg", callback);
		socket.off('connect', onConnect);
	};
})();
</script>
<style>
	body {margin: 0;}
	#indicators {float: right; padding: 5px 8px 0; visibility: hidden;}
	.nav ul {
		margin: 0;
		padding: 5px 0;
		list-style-type: none;
		text-align: left;
	}
	
	.nav li {
		display: inline;
		margin: 0 8px;
	}
	
	.nav a {
		text-decoration: none;
		color: #000;
		padding: 2px 0 1px 1;
	}
	
	#header {
		background-color: #BBB;
		font-family: "Arial";
	}
	
</style>
<div id="header">
	<div id="indicators">
		<span>Fan: <span id="fanDisplay">Off</span></span>&nbsp;&nbsp;&nbsp; 
		<span>Attic: <span id="atticTemp"></span>&deg;F</span>&nbsp;&nbsp;&nbsp; 
		<span>Outside: <span id="outsideTemp"></span>&deg;F</span>
	</div>
	<div id="navbar" class="nav">
		<ul>
			<li><a href="/">Info</a></li>
			<li><a href="/settings">Settings</a></li>
			<li><a href="/chart?fromRecentDays=2">Charts</a></li>
			<li><a href="/logs">Logs</a></li>
			<li><a href="/debug">Debug</a></li>
		</ul>
	</div>
</div>