<html>
<head>
<style>
	.time {width: 200px;}
	.atticTemp, .outsideTemp {width: 200px;}
	.time, .atticTemp, .outsideTemp {float: left; background: transparent;}
	.row {clear: both; width: 600px;}
	.odd {background-color: #FFF;}
	.even {background-color: #CCC;}
	.spacer {clear: both;}
	
</style>
<script>
    // temperature data - array of {t: dateTime, atticTemp: temp, outsideTemp: temp}
	var temperatureData = {{{temperatures}}};
</script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

</head>
<body>
<div id="chart_div"></div>
<div id="options">
	<label>Show Number of Days</label><input id="numDays" /><br>
</div>
<script>

function now() {
    return new Date().getTime();
}

var daysRegex = /([?&])days=([.\d]+)/;
(function() {
	// initialize number of days from the URL before we draw the chart
	if (window.location.search.length > 2) {
		var matches = window.location.search.match(daysRegex);
		if (matches) {
			$("#numDays").val(matches[2]);
		}
	}
})();

var timer;
$("#numDays").on("change", function(e) {
	resetReloadTimer();
	clearTimeout(timer);
	drawChartGetDays();
}).on("input", function(e) {
	// short pause before processing
	resetReloadTimer();
	clearTimeout(timer);
	var self = this;
	timer = setTimeout(function() {
		resetReloadTimer();
		drawChartGetDays();
	}, 500);
});

// parse days out of field
function getDays() {
	var dayStr = $("#numDays").val();
	var matches = dayStr.match(/^\s*([.\d]+)/);
	if (matches) {
		return +matches[1];
	} else {
		return 0;
	}
}

// convert degrees Celsius to Fahrenheit (rounded to 1 decimal point)
function toFahrenheit(c) {
    return Math.round(((c * 9 / 5) + 32) * 10) / 10;
}

var useFahrenheit = $.cookie("temperatureUnits") === "F";

google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChartGetDays);

function drawChartGetDays() {
	drawChart(getDays());
}

function drawChart(days) {
	var timeLimit;
	
	days = days || 0;
	days = Math.max(days, 0);
	if (days) {
		timeLimit = now() - ((24 * 60 * 60 * 1000) * days);
	} else {
		timeLimit = 0;
	}
	var data = new google.visualization.DataTable();
	data.addColumn('datetime', 'time', 'time');
	data.addColumn('number', 'attic', 'attic');
	data.addColumn('number', 'outside', 'outside');
	var item;
	for (var i = 0, len = temperatureData.length; i < len; i++) {
		item = temperatureData[i];
		if (item.t > timeLimit) {
			if (!useFahrenheit) {
				data.addRow([new Date(item.t), item.atticTemp, item.outsideTemp]);
			} else {
				data.addRow([new Date(item.t), toFahrenheit(item.atticTemp), toFahrenheit(item.outsideTemp)]);
			}
		}
	}

	var options = {
	  title: 'Temperatures',
	  curveType: 'function',
	  height: 500,
	  lineWidth: 1,
	  legend: {position: 'bottom'}
	};

	var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

	chart.draw(data, options);
}
$(window).resize(drawChartGetDays);

// reload the page every 10 minutes
// put chart settings into the URL so they get reloaded too
var reloadTimer;

function resetReloadTimer() {
	clearTimeout(reloadTimer);
	reloadTimer = setTimeout(function() {
		var url = window.location.href;
		var days = getDays();
		if (days) {
			if (window.location.search.length < 2) {
				url += "?days=" + days;
			} else if (window.location.search.match(daysRegex)) {
				url = url.replace(daysRegex, "$1days=" + days)
			} else {
				url += "&days=" + days;
			}
		}
		window.location.replace(url);
	}, 10 * 60 * 1000);
}

resetReloadTimer();

</script>	
</body>
</html>