<html>
<head>
{{> common_head}}
<style>
	.time {width: 200px;}
	.atticTemp, .outsideTemp {width: 200px;}
	.time, .atticTemp, .outsideTemp {float: left; background: transparent;}
	.row {clear: both; width: 600px;}
	.odd {background-color: #FFF;}
	.even {background-color: #CCC;}
	.spacer {clear: both;}
	
</style>
<script>
// temperature data - array of arrays of the form [dateTime, atticTemp, outsideTemp]
var temperatureData = {{{temperatures}}};
// onOffData is an array of [dateTime, str] - where str is "on" or "off"
var onOffData = {{{onOffData}}};
</script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

</head>
<body>
{{> header}}

<div id="chart_div"></div>
<div id="options">
	<label>Show Number of Days</label><input id="numDays" /><br>
</div>
<script>

function now() {
    return new Date().getTime();
}

var daysRegex = /([?&])days=([.\d]+)/;
var daysRegex2 = /([?&])days=([.\d]+)(&?)/;

(function() {
	// initialize number of days from the URL before we draw the chart
	if (window.location.search.length > 2) {
		var matches = window.location.search.match(daysRegex);
		if (matches) {
			$("#numDays").val(matches[2]);
		}
	}
})();

function updateURL() {
	if (window.history && window.history.replaceState) {
		var newURL = makeURL(getDays());
		if (newURL !== window.location.href) {
			window.history.replaceState(null, window.title, newURL);
		}	
	}
}

var timer;
$("#numDays").on("change", function(e) {
	resetReloadTimer();
	clearTimeout(timer);
	updateURL();
	drawChartGetDays();
}).on("input", function(e) {
	// short pause before processing
	resetReloadTimer();
	clearTimeout(timer);
	timer = setTimeout(function() {
		resetReloadTimer();
		updateURL();
		drawChartGetDays();
	}, 750);
});

// parse days out of field
function getDays() {
	var dayStr = $("#numDays").val();
	var matches = dayStr.match(/^\s*([.\d]+)/);
	if (matches) {
		return +matches[1];
	} else {
		return 0;
	}
}

// convert degrees Celsius to Fahrenheit (rounded to 0.05)
function toFahrenheit(c) {
    return Math.round(((c * 9 / 5) + 32) * 100) / 100;
}

var useFahrenheit = $.cookie("temperatureUnits") === "F";

google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChartGetDays);

function drawChartGetDays() {
	drawChart(getDays());
}

function drawChart(days) {
	var timeLimit;
	
	days = days || 0;
	days = Math.max(days, 0);
	if (days) {
		timeLimit = now() - ((24 * 60 * 60 * 1000) * days);
	} else {
		timeLimit = 0;
	}
	var data = new google.visualization.DataTable();
	data.addColumn('datetime', 'time', 'time');
	data.addColumn('number', 'attic', 'attic');
	data.addColumn('number', 'outside', 'outside');
	data.addColumn('number', 'on', 'on');
	var item, max = 0, min = 1000, t1, t2, lastTime;
	
	for (var i = 0, len = temperatureData.length; i < len; i++) {
		item = temperatureData[i];
		if (item[0] > timeLimit) {
			if (!useFahrenheit) {
				t1 = item[1];
				t2 = item[2];
			} else {
				t1 = toFahrenheit(item[1]);
				t2 = toFahrenheit(item[2]);
			}
			// accumulate max temperature
			max = Math.max(max, t1, t2);
			min = Math.min(min, t1, t2);
			data.addRow([new Date(item[0]), t1, t2, null]);
			lastTime = item[0];
		}
		
	}
	var onVal = Math.round(max + 1);
	var offVal = Math.round(min - 1);
	var lastVal, first = true, val;
	
	// now add the on/off data
	for (var i = 0; i < onOffData.length; i++) {
		item = onOffData[i];
		val = item[1] === "on" ? onVal: offVal;
		if (item[0] > timeLimit) {
			// fill in a starter point at the start of the interval if it's our first point and we're using a timeLimit
			if (first && timeLimit) {
				// this point goes from the timeLimit with the value of the first point in the range
				data.addRow([new Date(timeLimit - 1), null, null, val]);
				first = false;
			}
			// if we are changing the value, then write a stop point for the previous value before we write our new value
			if (lastVal && item[1] !== lastVal) {
			    // opposite value for our stop point
				data.addRow([new Date(item[0] - 1), null, null, item[1] === "on" ? offVal: onVal]);
			}
			data.addRow([new Date(item[0]), null, null, val]);
			lastVal = item[1];
		}
	}
	if (lastTime) {
		// extend the last on/off event until the end
		data.addRow([new Date(lastTime + 1), null, null, val]);
	}

	var options = {
	  title: 'Temperatures',
	  //curveType: 'function',
	  height: 500,
	  lineWidth: 1,
	  legend: {position: 'bottom'}
	};
	
	var gve = google.visualization.events;

	var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
	gve.addListener(chart, 'ready', function() {
		gve.addListener(chart, 'select', function(a, b, c) {
			var sel = chart.getSelection();
			if (sel.length && sel[0] && sel[0].column === 3) {
				console.log("click on/off data");
			}
		});
	});
	
	chart.draw(data, options);
}
$(window).resize(drawChartGetDays);


function makeURL(days) {
	var url = window.location.href;
	if (days) {
		if (window.location.search.length < 2) {
			url = url.replace(/\?$/, "") ;
			url += "?days=" + days;
		} else if (window.location.search.match(daysRegex)) {
			url = url.replace(daysRegex, "$1days=" + days)
		} else {
			url += "&days=" + days;
		}
	} else {
		// no days value specified so remove that from the URL entirely
		var matches = url.match(daysRegex2);
		if (matches) {
			// if trailing &
			if (matches[3]) {
				// remove everything but first char
				url = url.replace(daysRegex2, "$1");
			} else {
				// remove everything we matched
				url = url.replace(daysRegex2, "");
			}
		}
		url = url.replace(daysRegex, "$1").replace("?&", "?");
	}
	return url;
}

// reload the page every 10 minutes
// put chart settings into the URL so they get reloaded too
var reloadTimer;

function resetReloadTimer() {
	clearTimeout(reloadTimer);
	reloadTimer = setTimeout(function() {
		var url = makeURL(getDays());
		window.location.replace(url);
	}, 10 * 60 * 1000);
}

resetReloadTimer();

</script>	
</body>
</html>