<html>
<head>
{{> common_head}}
<style>
	.time {width: 120px;}
	.atticTemp, .outsideTemp {width: 150px;}
	.time, .atticTemp, .outsideTemp {float: left; background: transparent;}
	.row {clear: both; padding: 2px 5px;}
	.odd {background-color: #FFF;}
	.even {background-color: #CCC;}
	.spacer {clear: both;}
	#liveFeed {height: 400px; width: 750px; overflow: auto;}
	#liveFeedTitle {margin: 1em auto; font-size: 120%; font-weight: bold; text-align: center;}
	#allTemps, #liveFeed {margin: 10px;}
	#allTemps {width: 435px;}
	
</style>
</head>
<body>
{{> header}}

<div id="liveFeed">
	<div id="liveFeedTitle">Live Data</div>
	<div id="liveFeedContainer">
		<div id="liveFeedHeader" class="row">
			<div class="time">Time</div>
			<div class="atticTemp raw">Attic Temp Raw</div>
			<div class="atticTemp avg">Attic Temp Avg</div>
			<div class="outsideTemp raw">Outside Temp Raw</div>
			<div class="outsideTemp avg">Outside Temp Avg</div>
			<div class="spacer"></div>
		</div>
	</div>
</div>

<script>
	var rowCntr = 0;
	enableRawUpdates(function(data) {
		var header = $("#liveFeedHeader")
		var container = $("#liveFeedContainer")
		var newRow = header.clone();
		newRow.removeAttr("id");
		newRow.addClass(rowCntr++ % 2 ? "odd" : "even");
		newRow.find(".time").text(new Date(data.t).toLocaleTimeString());
		newRow.find(".atticTemp.raw").text(data.atticTempRaw.toFixed(3));
		newRow.find(".outsideTemp.raw").text(data.outsideTempRaw.toFixed(3));
		newRow.find(".atticTemp.avg").text(data.atticTempAvg.toFixed(3));
		newRow.find(".outsideTemp.avg").text(data.outsideTempAvg.toFixed(3));
		newRow.hide().insertAfter(header).slideDown();
		var rows = container.find(".row");
		if (rows.length > 101) {
			rows.last().remove();
		}
		
	});
</script>
	
<hr>
<div id="allTemps">
<div style="height: 50px;">Total Number of temperatures recorded: {{totalTemps}}<br>Displaying last hour's worth of data</div>
<div class="row"> <div class="time">Time</div><div class="atticTemp">Attic Temperature</div><div class="outsideTemp">Outside Temperature</div></div>
{{#each temperatures}}
	<div class="row {{{stripes @index}}}"> 
		<div class="time">{{prettifyDate t}}</div>
		<div class="atticTemp">{{formatTemp atticTemp ../units}}</div>
		<div class="outsideTemp">{{formatTemp outsideTemp ../units}}</div>
		<div class="spacer"></div>
	</div>
{{/each}}
</div>
</body>
</html>