<html>
<head>
<style>
	.time {width: 200px;}
	.atticTemp, .outsideTemp {width: 200px;}
	.time, .atticTemp, .outsideTemp {float: left; background: transparent;}
	.row {clear: both; width: 600px;}
	.odd {background-color: #FFF;}
	.even {background-color: #CCC;}
	.spacer {clear: both;}
	
</style>
</head>
<body>
	<div style="height: 50px;">Number of temperatures recorded: {{temperatures.length}}</div>
	<div class="row"> <div class="time">Time</div><div class="atticTemp">Attic Temperature</div><div class="outsideTemp">Outside Temperature</div></div>
	{{#each temperatures}}
		<div class="row {{{stripes @index}}}"> 
			<div class="time">{{prettifyDate t}}</div>
			<div class="atticTemp">{{formatTemp atticTemp ../units}}</div>
			<div class="outsideTemp">{{formatTemp outsideTemp ../units}}</div>
			<div class="spacer"></div>
		</div>
	{{/each}}
</body>
</html>