<html>
<head>
{{> common_head}}
<style>
#container {padding: 10px;}
.fileDisplay {font-size: 10px;}
.title {font-weight: bold; font-size: 140%;}

.logRestartsHidden .common, .logFanEventsHidden .fan, 
.logAgeEventsHidden .age, .logOtherRestartsHidden .restart {display: none;}
.restart.common {color: blue;}

#options, #numbers {padding: 10px;}

#numbers label {
    display: inline-block;
    float: left;
    clear: left;
    width: 120px;
	padding: 0 10px;
    text-align: right;

}
#numbers input {
  display: inline-block;
  float: left;
  margin: 0 5px 5px 0;
}

.clear {clear: both;}

</style>
</head>
<body>
{{> header}}
<div id="options">
	<label><input id="filterAll" type="checkbox"> Filter All</label><br>
	<label><input id="filterRestarts" data-toggle="logRestartsHidden" type="checkbox"> Filter out normal restarts</label><br>
	<label><input id="fanOnOffEvents" data-toggle="logFanEventsHidden" type="checkbox"> Filter out fan on/off events</label><br>
	<label><input id="filterAgeEvents" data-toggle="logAgeEventsHidden" type="checkbox"> Filter out ageing events</label><br>
	<label><input id="filterOtherRestarts" data-toggle="logOtherRestartsHidden" type="checkbox"> Filter out restarts</label><br>
</div>
<div id="numbers">
	<div class="clear">
		<label>Show numbers:</label> <input id="showNumbers"> (ex: 1,2-4)
	</div>
	<div class="clear">
		<label>Hide numbers:</label> <input id="hideNumbers">
	</div>
	<div class="clear">
		<button id="doNumbers">Show/Hide</button> <button id="clearNumbers">Clear</button>
	</div>
</div>
<div id="container">
<div class="title">Log File</div>
<div class="fileDisplay">
<pre id="logData">
{{logData}}
</pre>
</div>

<div class="title">Err File</div>
<div class="fileDisplay">
<pre id="errData">
{{errData}}
</pre>
</div>
</div>

<script>

function handleCheckbox() {
	$(".fileDisplay pre").toggleClass($(this).data("toggle"), this.checked);
}

$("#options input").not("#filterAll").click(handleCheckbox);

$("#filterAll").click(function() {
	var checked = this.checked;
	$("#options input").not(this).prop("checked", checked).each(handleCheckbox);
});

function parseNumbers(str) {
	str = str.trim();
	var result = {length: 0};
	if (str) {
		var nums = str.split(/\s*,\s*/);
		var re = /^(\d+)\s*-\s*(\d+)$/;
		var matches, begin, end, tmp;
		nums.forEach(function(item) {
			matches = item.match(re);
			if (matches) {
				begin = +matches[1];
				end = +matches[2];
				if (begin > end) {
					temp = end;
					end = begin;
					begin = temp;
				}
				for (var i = begin; i <= end; i++) {
					result[i] = true;
					++result.length;
				}
			} else {
				result[item] = true;
				++result.length;
			}
		});
	}
	return result;
}

function showHideNumbers() {
	$("#options input").prop("checked", false);
	var shows = parseNumbers($("#showNumbers").val());
	var hides = parseNumbers($("#hideNumbers").val());
	var doingShow = shows.length !== 0;
	var reNum = /^\d+/;
	$(".fileDisplay pre").each(function() {
		var lines = $(this).find("span"), matches, item;
		lines.each(function() {
			item = $(this);
			matches = item.text().match(reNum);
			if (matches) {
				var num = matches[0];
				if (doingShow) {
					item.toggle(!!shows[num]);
				} else {
					item.toggle(!hides[num]);
				}
			} else {
				// hide by default if no match when doing show
				item.toggle(!doingShow);
			}
		});
	});
}

$("#doNumbers").click(showHideNumbers);

$("#clearNumbers").click(function() {
	$(".fileDisplay pre span").show();
	$("#options input").prop("checked", false);
});

function makeLines() {
	$(".fileDisplay pre").each(function() {
		var item = $(this), markCnt, html, lines;
		// if not already broken into spans
		if (!item.find("span").length) {
			// split into lines with a <span> for each line
			lines = item.text().split("\n");
			html = "<span>" + lines.join("\n</span><span>") + "</span>";
			item.html(html);

			// get all the new lines
			lines = item.find("span");
			
			// lets mark normal 4am restarts
			lines.each(function(index) {
				var txt = $(this).text(), restartLines;
				if (txt.indexOf("daily 4am shutdown") !== -1) {
					restartLines = lines.slice(index, index +  4);
					// if next three lines contain what we expect them to
					var expected = ["Exiting process with code: 1", "error: Forever detected script exited with code", "error: Script restart attempt #"];
					if (expected.every(function(item, i) {
						return restartLines.eq(i + 1).text().indexOf(item) !== -1;
					})) {
						restartLines.wrapAll("<div class='restart common' />");
					}
				}
			});
			
			// now lets mark other types of lines
			var specials = ["fan changed to", "ageData()", "fan-control server started on port"];
			var specialsClass = ["fan", "age", "restart"];
			var leadingNumbers = /^\d+/;
			lines.each(function(i, element) {
				var origTxt = $(element).text();
				var txt = origTxt.trim();
				if (txt && !leadingNumbers.test(txt)) {
					$(element).text("0; " + origTxt);
				}
				specials.forEach(function(item, index) {
					if (txt.indexOf(item) !== -1) {
						$(element).addClass(specialsClass[index]);
					}
				});
			});
		}
	});
}

$(document).ready(makeLines);

</script>

</body>
</html>